<h1 class="text-center"> Cocktail List</h1>

<div class="text-center padded">
  <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>


    <% @cocktails.each do |cocktail|%>
      <ol>

        <h4> <%= cocktail.name %> </h4>
        <%= link_to "More details", cocktail_path(cocktail) %>
      </ol>
      </div>
    </div>
<% end %>


