<h1> Mr Cocktail's Cocktail List</h1>

<%= link_to "Add cocktail" , new_cocktail_path %>
<br>

<% @cocktails.each do |cocktail|%>
  <ol>

    <h4> <%= cocktail.name %> </h4>
    <%= link_to "More details", cocktail_path(cocktail) %>
  </ol>
<% end %>


