<h1 class="text-center"> Cocktail List</h1>

<div class="text-center padded">
  <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>


    <% @cocktails.each do |cocktail|%>
      <ol>


        <%= link_to cocktail_path(cocktail) do %>
          <h4> <%= cocktail.name %> </h4>
          <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
        <% end %>
      </ol>
      </div>
    </div>
<% end %>
